.card 
{
    width: 349px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46%;
}  

.frame_img
{
    height: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.frame_img > img:not(#img_projet_2, #img_projet_3, #img_projet_5, #img_projet_6)
{
    width: 70%;
    border-radius: 10px;
}

#img_Kanap
{
    transform: scale(0.7);
}

#img_Portfolio
{
    transform: scale(1.5);
}

#img_projet_3
{
    width: 43%;
}

#img_projet_5
{
    width: 41%;
    border-radius: 86px;
}

#img_projet_6
{
    width: 87%;
}

.container
{
    color: #ff7c93
}

.container > h3 
{
    color: #ff87da;
    text-align: center;
    margin-bottom: 10px;
}

.container > p 
{
    margin-bottom: 7px;
}

p > a 
{
    text-decoration: none;
}