#container_circles, #container_circles_bis
{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    margin: 31px -60px;
    top: -31px;
}

div[class*="circle"] 
{
    position: absolute;
    width: 440px;
    background: #ff7c93;
    height: 425px;
    border-radius: 228px;
}

#container_circles_bis > div[class*="circle"] 
{
    background: rgba(0,0,0,1);
}

.circle_0
{
    animation: 2000ms 10ms both move_0;
}

@keyframes move_0 {
    0%{
        transform: translateY( 101vh );
    }

    100%{
        transform: translate( -9vh, -8vh );
    }
}

.circle_1
{
    animation: 2000ms 10ms both move_1;
}

@keyframes move_1 {
    0%{
        transform: translate( 32vh, 101vh );
    }

    50%{
        transform: translate( 32vh, 30vh );
    }

    100%{
        transform: translate( 32vh, -8vh );
    }
}

.circle_2
{
    animation: 2000ms 10ms both move_2;
}

@keyframes move_2 {
    0%{
        transform: translate( 73vh, 101vh );
    }

    
    50%{
        transform: translate( 73vh, 101vh );
    }

    100%{
        transform: translate( 73vh, -8vh );
    }
}

.circle_3
{
    animation: 2000ms 10ms both move_3;
}

@keyframes move_3 {
    0%{
        transform: translate( 114vh, 101vh );
    }

    100%{
        transform: translate( 114vh, -8vh );
    }
}

.circle_4
{
    animation: 2000ms 10ms both move_4;
}

@keyframes move_4 {
    0%{
        transform: translate( 153vh, 101vh );
    }

    100%{
        transform: translate( 153vh, -8vh );
    }
}

.circle_5
{
    animation: 2000ms 10ms both move_5;
}

@keyframes move_5 {
    0%{
        transform: translate( -9vh, 101vh )
    }

    100%{
        transform: translate( -9vh, 32vh );
    }
}

.circle_6
{
    animation: 2000ms 10ms both move_6;
}

@keyframes move_6 {
    0%{
        transform: translate( 33vh, 101vh );
    }

    100%{
        transform: translate( 33vh, 32vh );
    }
}

.circle_7
{
    animation: 2000ms 10ms both move_7;
}

@keyframes move_7 {
    0%{
        transform: translate( 79vh, 101vh );
    }

    100%{
        transform: translate( 79vh, 32vh );
    }
}

.circle_8
{
    animation: 2000ms 10ms both move_8;
}

@keyframes move_8 {
    0%{
        transform: translate( 130vh, 101vh );
    }

    100%{
        transform: translate( 130vh, 32vh );
    }
}

.circle_9
{
    animation: 2000ms 10ms both move_9;
}

@keyframes move_9 {
    0%{
        transform: translate( 182vh, 101vh );
    }

    100%{
        transform: translate( 182vh, 32vh );
    }
}

.circle_10
{
    animation: 2000ms 10ms both move_10;
}

@keyframes move_10 {
    0%{
        transform: translate( -15vh, 101vh );
    }

    100%{
        transform: translate( -15vh, 60vh );
    }
}

.circle_11
{
    animation: 2000ms 10ms both move_11;
}

@keyframes move_11 {
    0%{
        transform: translate( 37vh, 101vh );
    }

    100%{
        transform: translate( 37vh, 60vh );
    }
}

.circle_12
{
    animation: 2000ms 10ms both move_12;
}

@keyframes move_12 {
    0%{
        transform: translate( 88vh, 101vh );
    }

    100%{
        transform: translate( 88vh, 60vh );
    }
}

.circle_13
{
    animation: 2000ms 10ms both move_13;
}

@keyframes move_13 {
    0%{
        transform: translate( 139vh, 101vh );
    }

    100%{
        transform: translate( 139vh, 60vh );
    }
}

.circle_14
{
    animation: 2000ms 10ms both move_14;
}

@keyframes move_14 {
    0%{
        transform: translate( 150vh, 101vh );
    }

    100%{
        transform: translate( 150vh, 60vh );
    }
}


